<main class="pt-28 px-8 pb-8">
  <div class="flex-1 max-w-5xl mx-auto pt-20 pb-8 px-4">
    <div class="mb-8 text-center">
      <h2 class="text-xl font-semibold text-[var(--dark-green)]">
        Adição de cidades
      </h2>
    </div>

    <div class="mb-8 flex justify-center">
      <app-city-search (addCity)="handleAddCity($event)"></app-city-search>
    </div>

    <div class="bg-[var(--white)] rounded-lg shadow-sm p-5">
      <h3 class="text-center text-md font-medium text-[var(--dark-green)] mb-4">
        Cidades Atendidas
      </h3>

      <div *ngIf="isLoading" class="text-[var(--gray)] text-center py-4">
        Carregando cidades...
      </div>

      <div *ngIf="errorMessage" class="text-red-500 text-center py-4">
        {{ errorMessage }}
      </div>

      <div
        *ngIf="!isLoading && !errorMessage && servingCities.length === 0"
        class="text-[var(--gray)] text-center py-8"
      >
        Nenhuma cidade adicionada
      </div>

      <ul
        *ngIf="!isLoading && !errorMessage && servingCities.length > 0"
        class="grid grid-cols-1 md:grid-cols-3 gap-4"
      >
        <li
          *ngFor="let city of servingCities"
          class="flex items-center space-x-2 p-2"
        >
          <button
            (click)="initiateRemoveCity(city)"
            class="text-[var(--green-1)] hover:text-[var(--green-3)] transition-colors duration-150"
          >
            <lucide-icon [name]="removeIcon" class="w-5 h-5" />
          </button>
          <span class="text-[var(--gray)]">{{ city.name }}</span>
        </li>
      </ul>
    </div>

    <div
      *ngIf="showRemoveConfirmation"
      class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
    >
      <div class="bg-[var(--white)] p-6 rounded-md shadow-lg text-center">
        <p class="mb-4 text-[var(--gray)]">
          Remover {{ cityToRemove?.name }} da lista?
        </p>
        <button
          (click)="confirmRemoveCity()"
          class="bg-red-500 text-[var(--white)] px-4 py-2 rounded-md mr-2 hover:bg-red-600 transition-colors duration-150"
        >
          Sim
        </button>
        <button
          (click)="cancelRemoveCity()"
          class="bg-[var(--gray)] text-[var(--white)] px-4 py-2 rounded-md hover:bg-gray-700 transition-colors duration-150"
        >
          Não
        </button>
      </div>
    </div>
  </div>
</main>
